<%-include("partials/disclaimer")%>
<%-include("partials/nav")%>
<main class="errormain">
    <div class="error">
        <h1><%= message %></h1>
        <h2>Error <%= error.status %></h2>
    </div>
</main>

<%-include("partials/footer")%>

