<%-include("templates/header",{mainTitle:"UVM|Robotica|Equipos"})%>
<head>
  <link rel="stylesheet" href="/stylesheets/equipos.css">
</head>
  <body>
    <%-include("partials/disclaimer")%>
    <%-include("partials/nav")%>
    <main>
      <div class="equipos_container">
          <h1>Equipos</h1>
            <div class="boxes">
              <% if(equipos.length) { %>
                <%  for (let i = 0; i < equipos.length; i++) { %>
                    <h2> <%= equipos[i].nombre_de_equipo %> </h2>
                  <ul>
                    <li> Representante: <%= equipos[i].representante %> </li> <br>
                    <li> Modalidad: <%= equipos[i].nombre_modalidad %> </li> <br>
                    <li> Email: <%= equipos[i].email %> </li> <br>
                    <li> Teléfono: <%= equipos[i].telefono %> </li> <br>
                    <li><strong>Participantes: </strong></li><br>
                    <%= equipos[i].participantes %>
                    <li><strong>Comentarios: </strong></li><br>
                    <%= equipos[i].comentario %>
                  </ul>
                  <hr>
                <% } %>
                <% } %>
            </div>
      </div>
    </main>
    <%-include("partials/footer")%>

  </body>
</html>