<%- include("templates/header",{mainTitle:"UVM|Robotica|Equipos"}) %>
<head>
  <link rel="stylesheet" href="/stylesheets/equipos.css">
</head>

<body>
  <%- include("partials/disclaimer") %>
    <%- include("partials/nav") %>
    <main>
      <div class="equipos_container">
        <h1>Equipos</h1>
        <div class="boxes">
          <% if (tabla.length) { %>
            <% for (fila of tabla) { %>
              <ul>
                <h2> <%= fila.nombre_de_equipo %> </h2>
                <% for (columna in fila) { %>
                  <% if (columna != "nombre_de_equipo") { %>
                    <li> <%= columna %>: <%= fila[columna] %> </li> <br>
                    <% } %>
                  <% } %>
              </ul>
              <hr>
              <% } %>
            <% } %>
        </div>
      </div>
    </main>
    <%- include("partials/footer") %>
</body>

</html>